POSTGRES_DB=pr_intelligence
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=pr_intelligence
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

GITHUB_TOKEN=

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
